GameServer/x64/Debug/GameServer.pch filter=lfs diff=lfs merge=lfs -text
ServerCore/x64/Debug/ServerCore.pch filter=lfs diff=lfs merge=lfs -text
* text=auto
*.cpp text eol=lf
*.h text eol=lf
*.vcxproj text eol=crlf
*.log text eol=crlf